# Object files
*.o
*.lo
*.ko
*.obj
*.elf
*.exe
*.EXE
*.dxe
*.DXE
*.out
*.app
*.i*86
*.x86_64
*.hex

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# dependencies
*.d
*.undef

# other files
edi.js
req.js
NEW.JS
DOJS.ZIP
dojs.zip
JSLOG.TXT
EDILOG.TXT
COUT.TXT
TEST.TXT
TEST.JS
TEST2.JS
CWSDPMI.SWP
stderr.txt
stdout.txt
miktest.c
dexport.c

# other dirs
doc/html/
tmp/
upx/
cylindrix/
build/
capture/
p5.js-master/
p5.js-1.0.0/
tests/p5.js/
.vscode/ipch
tests/SCR.TGA
tests/SCR.PCX
tests/SCR.BMP
3rdparty/allegro-4.2.2-xc-master/obj/djgpp/asmcapa.h
3rdparty/allegro-4.2.2-xc-master/obj/djgpp/asmdef.inc
3rdparty/allegro-4.2.2-xc-master/obj/djgpp/asmdef.s
3rdparty/mujs-1.0.5/one.c
3rdparty/mujs-1.0.5/opnames.h
GLIDE3X.DXE
glide3x.dxe
examples/aoc2019/
syn.txt
synC.txt
synJ.txt
STDERR.DJS
STDOUT.DJS
DOjS-cppcheck-build-dir/
3rdparty/dzcomm/obj/djgpp/asmdef.s
JSBOOT.ZIP
cacert.pem
3rdparty/curl-7.80.0/lib/curl_config.h
3rdparty/openssl-1.1.1n/libcrypto.pc
3rdparty/openssl-1.1.1n/libssl.pc
3rdparty/openssl-1.1.1n/3rdparty/openssl.pc
3rdparty/openssl-1.1.1n/crypto/buildinf.h
3rdparty/openssl-1.1.1n/crypto/bf/bf-586.s
3rdparty/openssl-1.1.1n/crypto/bn/bn-586.s
3rdparty/openssl-1.1.1n/crypto/bn/co-586.s
3rdparty/openssl-1.1.1n/crypto/bn/x86-gf2m.s
3rdparty/openssl-1.1.1n/crypto/bn/x86-mont.s
3rdparty/openssl-1.1.1n/crypto/camellia/cmll-x86.s
3rdparty/openssl-1.1.1n/crypto/cast/cast-586.s
3rdparty/openssl-1.1.1n/crypto/chacha/chacha-x86.s
3rdparty/openssl-1.1.1n/crypto/des/crypt586.s
3rdparty/openssl-1.1.1n/crypto/des/des-586.s
3rdparty/openssl-1.1.1n/crypto/ec/ecp_nistz256-x86.s
3rdparty/openssl-1.1.1n/crypto/md5/md5-586.s
3rdparty/openssl-1.1.1n/crypto/modes/ghash-x86.s
3rdparty/openssl-1.1.1n/crypto/poly1305/poly1305-x86.s
3rdparty/openssl-1.1.1n/crypto/rc4/rc4-586.s
3rdparty/openssl-1.1.1n/crypto/ripemd/rmd-586.s
3rdparty/openssl-1.1.1n/crypto/sha/sha1-586.s
3rdparty/openssl-1.1.1n/crypto/sha/sha256-586.s
3rdparty/openssl-1.1.1n/crypto/sha/sha512-586.s
3rdparty/openssl-1.1.1n/include/crypto/bn_conf.h
3rdparty/openssl-1.1.1n/include/crypto/dso_conf.h
3rdparty/openssl-1.1.1n/include/openssl/opensslconf.h
5.BMP
5.PCX
5.PNG
5.TGA
SCR.BMP
SCR.PCX
SCR.PNG
SCR.TGA
TMP1.TMP
TMP1.ZIP
TMP2.TMP
TMP2.ZIP
3rdparty/openssl-1.1.1n/apps/progs.h
.picasa.ini
fddojs.zip
*.mpg
AUDIO.RAW
tests/deuwe.mp4
vscode/livedojs/node_modules/
W32DHCP.TMP
dosbox.conf
__experiments/
ftest.txt
