# Object files
*.o
*.lo
*.ko
*.obj
*.elf
DOjS
*.exe
*.EXE

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# dependencies
*.d

# other files
edi.js
req.js
NEW.JS
DOJS.ZIP
JSLOG.TXT
EDILOG.TXT
TEST.TXT
TEST.JS
TEST2.JS
CWSDPMI.SWP
stderr.txt
stdout.txt
grx249/bin/fnt2c
grx249/bin/bin2c
grx249/bin/xmodetest
grx249/src/systag.002
grx249/src/systag.004
lpng1636/pnglibconf.h
miktest.c

# other dirs
upx/
cylindrix/
jsboot/fonts/
build/
allegro-4.2.2-xc-master/
p5.js-master/
tests/p5.js/
doc/html/
.vscode/ipch
