# Object files
*.o
*.lo
*.ko
*.obj
*.elf
*.exe
*.EXE

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# dependencies
*.d

# other files
edi.js
req.js
NEW.JS
DOJS.ZIP
dojs.zip
JSLOG.TXT
EDILOG.TXT
COUT.TXT
TEST.TXT
TEST.JS
TEST2.JS
CWSDPMI.SWP
stderr.txt
stdout.txt
miktest.c

# other dirs
doc/html/
tmp/
upx/
cylindrix/
build/
capture/
p5.js-master/
p5.js-1.0.0/
tests/p5.js/
.vscode/ipch
tests/SCR.TGA
tests/SCR.PCX
tests/SCR.BMP
allegro-4.2.2-xc-master/obj/djgpp/asmcapa.h
allegro-4.2.2-xc-master/obj/djgpp/asmdef.inc
allegro-4.2.2-xc-master/obj/djgpp/asmdef.s
mujs-1.0.5/one.c
mujs-1.0.5/opnames.h
GLIDE3X.DXE
glide3x.dxe
examples/aoc2019/
syn.txt
synC.txt
synJ.txt
STDERR.DJS
STDOUT.DJS
DOjS-cppcheck-build-dir/
lpng1636/pnglibconf.h
dzcomm/obj/djgpp/asmdef.s
JSBOOT.ZIP
